# Avinash Patel

In [122]:
print("Avinash Patel")

Avinash Patel

In [1]:
print("Hello World")

Hello World

In [4]:
a=10
b=20
print(a+b)

30

# List

In [6]:
names=["Avinash", "Suchir", 12, 65]

In [7]:
print(names)

['Avinash', 'Suchir', 12, 65]

In [10]:
type(names)

list

In [20]:
names.append("Hello World")

In [34]:
print(names)

['Avinash', 'Suchir', 12, 65, 'Hello World', 'Hello World', 'Hello World', 'Hello World', 'Hello World', 'Hello World']

In [41]:
names.pop(5)

'Hello World'

# Program to print Largest number in the list

In [45]:
Numbers=[17,25,96,87,541,58,-9,-85]
print(Numbers)

[17, 25, 96, 87, 541, 58, -9, -85]

In [36]:
Numbers.sort()

In [38]:
print(Numbers)

[-85, -9, 17, 25, 58, 87, 96, 541]

In [40]:
print("Largest number in the list is", Numbers[-1])

Largest number in the list is 541

# Program to print Second Largest number in the list

In [48]:
print(Numbers)

[-85, -9, 17, 25, 58, 87, 96, 541]

In [44]:
print("Second largest number in the list is :",Numbers[-2])

Second largest number in the list is : 96

# Python program to merge two list and sort it

In [ ]:
list1=[78,58,25,-62,0,61,78]
list2=[15,26,98,-54,2,1,68]
print("List one =", list1)
print("List two =", list2)

In [53]:
list1.extend(list2)

In [56]:
print("After merging list2 in list 1 are", list1)

After merging list2 in list 1 are [78, 58, 25, -62, 0, 61, 78, 15, 26, 98, -54, 2, 1, 68]

In [58]:
list1.sort()
print("Sorted list is ",list1)

Sorted list is  [-62, -54, 0, 1, 2, 15, 25, 26, 58, 61, 68, 78, 78, 98]

# Python program to swap first and last value of list

In [65]:
print("Hello")

Hello

In [133]:
#Method1
l1=[1,86,-9,8,75]
print("List values are =", l1)

List values are = [1, 86, -9, 8, 75]

In [124]:
l1.reverse()

In [125]:
print("List after swaping first and last value of list is: ",l1)

List after swaping first and last value of list is:  [75, 8, -9, 86, 1]

In [ ]:
#Method2

In [134]:
print("List values before swapping are: ",l1)

List values are:  [1, 86, -9, 8, 75]

In [135]:
f_value=l1[0] #First value of list
l_value=l1[-1] #Last value of list

In [136]:
l1.pop(0) #removing first value of list
l1.pop(-1) #removing last value of list

75

In [137]:
print(l1)

[86, -9, 8]

In [138]:
#insert the values 
l1.insert(0,l_value)
l1.append(f_value)

In [139]:
print("List after swaping first and last value of list is: ",l1)

List after swaping first and last value of list is:  [75, 86, -9, 8, 1]